body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: black;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 10fr;
    gap: 2px;
}

.grid-container > * {
    background-color: pink;
}

.searchbar {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.profile {
    grid-column: 2 / 3;
}